FORMAT: 1A
HOST: http://api.sc.project.skyshi.com/

# sweatcircle

Sweatcircle app API blueprint

## User Collection [/]

### Login [POST /login ]

+ Request (application/json)

        {
            "email": "pram@skyshi.com",
            "password": "user"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "statue": true,
            "message": "User Data",
            "data": {
                "user_id": 2,
                "first_name": "Tony",
                "last_name": "Judt Smith",
                "display_name": "PramSmith",
                "latitude": "-7.771337",
                "longitude": "110.345976",
                "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                "photo_cover": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                "email": "pram@skyshi.com",
                "status": 1,
                "privacy": 1,
                "created_at": 1496710635,
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs"
            }
        }

### Login Facebook [POST /social-login]

+ Request (application/json)

            {
                "provider_name": "Facebook",
                "provider_uid": "12345678",
                "access_token": "EAAViKAqZCMswBAM1UqlZBZAFRd6OyX0C5b9VpVU0mO0dKWduiZBRC2BqJ3wvHyKkJqUz53IUkr0RBByiFtWWRFcBtV3ZBUA8vSQCnbVvD76vTzuF75YtixmN5K0v00eN0u5DHfGGasSzUYWAOKYfkXglmL4DMMZB8aspE5bqN57h2sNO5CT8Nwhmz7kfbgZCBIZD"
            }
        
+ Response 200 (application/json)

            {
                "code": 200,
                "statue": true,
                "message": "User Data",
                "data": {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "display_name": "PramSmith",
                    "latitude": "-7.771337",
                    "longitude": "110.345976",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "photo_cover": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "email": "pram@skyshi.com",
                    "status": 1,
                    "privacy": 1,
                    "created_at": 1496710635,
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs"
                }
            }

### Register [POST /users]

+ Request (application/json)

        {
            "phone": "0821934853485",
            "email": "pram@skyshi.com",
            "password": "user"
        }

+ Response 201 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Data",
            "data": {}
        }

### Get Profile [GET /users]

+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Profile Data",
            "data": {
                "user": {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "display_name": "PramSmith",
                    "latitude": "-7.771337",
                    "longitude": "110.345976",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "photo_cover": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "email": "pram@skyshi.com",
                    "status": 1,
                    "privacy": 1,
                    "created_at": 1496710635
                },
                "follow": {
                    "follower": 800,
                    "following": 20
                },
                "group_count": 39,
                "event_count": 30
            }
        }
        
### Edit Profile [PUT /users/{id}]

+ Parameters
    + id: 2 (number, required)

+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

    + Body
        
            {
                "display_name": "PramSmith",
                "latitude": "-7.771337",
                "longitude": "110.345976",
                "email": "pram@skyshi.com",
                "password": "user",
                "privacy": 1,
                "sports": [
                    {
                        "id": 1,
                        "name": "badminton",
                        "level": 3
                    },
                    {
                        "id": 3,
                        "name": "cycling",
                        "level": 5
                    },
                    {
                        "id": 6,
                        "name": "hiking",
                        "level": 2
                    },
                    {
                        "id": 8,
                        "name": "volleyball",
                        "level": 5
                    },
                    {
                        "id": 10,
                        "name": "zumba",
                        "level": 2
                    }
                ]
            }
    
+ Response 201 (application/json)

        {
            
            "code": 200,
            "status": true,
            "message": "User Data",
            "data": {
                "user_id": 2,
                "first_name": "Tony",
                "last_name": "Judt Smith",
                "display_name": "PramSmith",
                "latitude": "-7.771337",
                "longitude": "110.345976",
                "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                "photo_cover": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                "email": "pram@skyshi.com",
                "status": 1,
                "privacy": 1,
                "created_at": 1496710635,
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs"
            }
        }

### Get Stories [GET /users/stories{?page}{?limit}]

+ Parameters 
    + page: 1 (number)
    + limit: 10 (number)
        
+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs


+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Stories Data",
            "meta": {
                "page": 1,
                "limit": 10,
            }
            "data": [
                {
                    "id": 3,
                    "content": "We are proudly present our new swimmer",
                    "attachments": [
                        {
                            "id": 4,
                            "url": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                        },
                        {
                            "id": 8,
                            "url": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                        }
                    ],
                    "like_id": 77,
                    "comment_id": 75
                },
                {
                    "id": 2,
                    "content": "Every winner should know this great technique",
                    "attachments": [],
                    "like_id": 7,
                    "comment_id": 65
                },
                {
                    "id": 1,
                    "content": "Get your fat down to zero with me",
                    "attachments": [
                        {
                            "id": 90,
                            "url": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                        }
                    ],
                    "like_id": 3,
                    "comment_id": 34
                }
            ]
        }
        
### Get Sport [GET /users/sports]

+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Sports Data",
            "data": [
                {
                    "id": 2,
                    "name": "Badminton",
                    "level": 4
                },
                {
                    "id": 3,
                    "name": "Tennis",
                    "level": 2
                },
                {
                    "id": 4,
                    "name": "Table Tennis",
                    "level": 3
                }
            ]
        }
        
### Get Activity & Group [GET /users/activity-group{?id_sport}{?page}{?limit}]

+ Parameters
    + id_sport: 2 (number)
    + page: 1 (number)
    + limit: 10 (number)
    
+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Interest Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 4,
                    "type": 1,
                    "name": "Skyshi League",
                    "description": "Skyshi tournament",
                    "attachments": [
                        {
                            "id": 88,
                            "url": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                        }
                    ],
                    "start_date": 1496710635,
                    "end_data": 1496710635,
                    "latitude": "-7.771337",
                    "longitude": "110.345976",
                    "like_id": 2,
                    "comment_id": 5
                },
                {
                    "id": 3,
                    "type": 0,
                    "name": "Skyshi Badminton",
                    "description": "",
                    "attachments": [
                        {
                            "id": 88,
                            "url": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                        }
                    ],
                    "start_date": null,
                    "end_data": null,
                    "latitude": "",
                    "longitude": "",
                    "like_id": 1,
                    "comment_id": 3
                }
            ]
        }
        
### Get Follower [GET /users/followers{?page}{?limit}]

+ Parameters
    + page: 1 (number)
    + limit: 10 (number)

+ Request
    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Follower Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 3,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status": 1,
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer"
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal"
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball"
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton"
                        }
                    ]
                },
                {
                    "id": 5,
                    "first_name": "Indra",
                    "last_name": "Bayu Kusuma",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status": 1,
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer"
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal"
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball"
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton"
                        }
                    ]
                },
                {
                    "id": 8,
                    "first_name": "Yusuf",
                    "last_name": "Kusuma",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status": 1,
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer"
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal"
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball"
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton"
                        }
                    ]
                }
            ]
        }

### Get Following [GET /users/following{?page}{?limit}]

+ Parameters
    + page: 1 (number)
    + limit: 10 (number)
    
+ Request
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Following Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 3,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status": 1,
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer"
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal"
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball"
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton"
                        }
                    ]
                },
                {
                    "id": 5,
                    "first_name": "Indra",
                    "last_name": "Bayu Kusuma",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status": 1,
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer"
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal"
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball"
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton"
                        }
                    ]
                },
                {
                    "id": 8,
                    "first_name": "Yusuf",
                    "last_name": "Kusuma",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status": 1,
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer"
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal"
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball"
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton"
                        }
                    ]
                }
            ]
        }
        
### List Pending Follower [GET /users/followers/pending{?page}{?limit}]

+ Parameters
    + page: 1 (number)
    + limit: 10 (number)
        
+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Follower Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 3,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer"
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal"
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball"
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton"
                        }
                    ]
                },
                {
                    "id": 5,
                    "first_name": "Indra",
                    "last_name": "Bayu Kusuma",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer"
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal"
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball"
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton"
                        }
                    ]
                },
                {
                    "id": 8,
                    "first_name": "Yusuf",
                    "last_name": "Kusuma",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer"
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal"
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball"
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton"
                        }
                    ]
                }
            ]
        }
        
### Discover User [GET /users/{?sport}{?latitude}{?longitude}{?page}{?limit}]

+ Parameters
    + sport (number, `1`)
    + latitude (string, `-7.771337`)
    + longitude (string, `110.345976`)
    + page: 1 (number)
    + limit: 10 (number)
        
+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "List User Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 2
            },
            "data": [
                {
                    "id": 3,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer",
                            "level": 1
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal",
                            "level": 1
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball",
                            "level": 1
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton",
                            "level": 1
                        }
                    ]
                },
                {
                    "id": 5,
                    "first_name": "Indra",
                    "last_name": "Bayu Kusuma",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer",
                            "level": 1
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal",
                            "level": 1
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball",
                            "level": 1
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton",
                            "level": 1
                        }
                    ]
                },
                {
                    "id": 8,
                    "first_name": "Yusuf",
                    "last_name": "Kusuma",
                    "profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "interests": [
                        {
                            "sport_id": 2,
                            "name": "Soccer"
                        },
                        {
                            "sport_id": 3,
                            "name": "Futsal"
                        },
                        {
                            "sport_id": 4,
                            "name": "Basketball"
                        },
                        {
                            "sport_id": 5,
                            "name": "Badminton"
                        }
                    ]
                }
            ]
        }
        
### Request OTP [GET /users/otp/request]
+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Data",
            "data": {
                "user_id": 2,
                "first_name": "Tony",
                "last_name": "Judt Smith",
                "display_name": "PramSmith",
                "latitude": "-7.771337",
                "longitude": "110.345976",
                "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                "photo_cover": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                "email": "pram@skyshi.com",
                "status": 1,
                "privacy": 1,
                "created_at": 1496710635,
                "request_id": "8982ca633de24a04a8689d52e771b34e"
            }
        }

### Confirm OTP [POST /users/otp/confirm]

+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
            
    + Body

            {
                "request_id": "8982ca633de24a04a8689d52e771b34e",
                "code": "1254"
            }
        
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Data",
            "data": 
            {
                "user_id": 2,
                "first_name": "Tony",
                "last_name": "Judt Smith",
                "display_name": "PramSmith",
                "latitude": "-7.771337",
                "longitude": "110.345976",
                "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                "photo_cover": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                "email": "pram@skyshi.com",
                "status": 1,
                "privacy": 1,
                "created_at": 1496710635,
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs"
            }
        }
        
### Forgot Password [POST /passwords/forgot]
+ Request
    + Body
    
            {
                "phone": "+6282143375113"
            }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Password Data",
            "data": {
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs",
                "request_id": "8982ca633de24a04a8689d52e771b34e"
            }
        }
        
### Confirm Password [POST /passwords/confirm]
+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
            
    + Body

            {
                "request_id": "8982ca633de24a04a8689d52e771b34e",
                "code": "1254"
            }
        
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Data",
            "data": 
            {
                "user_id": 2,
                "first_name": "Tony",
                "last_name": "Judt Smith",
                "display_name": "PramSmith",
                "latitude": "-7.771337",
                "longitude": "110.345976",
                "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                "photo_cover": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                "email": "pram@skyshi.com",
                "status": 1,
                "privacy": 1,
                "created_at": 1496710635,
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs"
            }
        }

## Activity collection [/activities]

### My Activity [GET /activities/users{?page}{?limit}]

+ Parameters
    + page: 1 (number)
    + limit: 10 (number)
    
+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
        
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Activity Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 2
            },
            "data": [
                {
                    "id": 3,
                    "name": "Traveloka League",
                    "description": "Traveloka sport tournament",
                    "attachments": [
                        {
                            "id": 88,
                            "url": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                        }
                    ],
                    "start_date": 1496710635,
                    "end_date": 1496710635,
                    "latitude": "-7.771337",
                    "longitude": "110.345976",
                    "like_id": 4,
                    "comment_id": 6
                },
                {
                    "id": 5,
                    "name": "Traveloka League",
                    "description": "Traveloka sport tournament",
                    "attachments": [
                        {
                            "id": 88,
                            "url": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                        }
                    ],
                    "start_date": 1496710635,
                    "end_date": 1496710635,
                    "latitude": "-7.771337",
                    "longitude": "110.345976",
                    "like_id": 6,
                    "comment_id": 9
                }
            ]
        }

### Discover Activity [GET /activities{?page}{?limit}{?latitude}{?longitude}]

+ Parameters
    + page: 1 (number)
    + limit: 10 (number)
    + latitude: "-7.771337" (string)
    + longitude: "110.345976" (string)

+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
        
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Activity Discover Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 1
            },
            "data": [
                {
                    "id": 88,
                    "name": "Traveloka League",
                    "description": "Traveloka sport tournament",
                    "attachments": [
                        {
                            "id": 90,
                            "url": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                        }
                    ],
                    "start_date": 1496710635,
                    "end_date": 1496710635,
                    "latitude": "-7.771337",
                    "longitude": "110.345976",
                    "like_id": 7,
                    "comment_id": 10
                }
            ]
        }
        
### Create Activity [POST /users/activities]

+ Request (application/json)

        {
            "sport_id": 1,
            "name": "Basketball Paradise",
            "description": "An activity to provide young athlete to match",
            "latitude": "-7.771337",
            "longitude": "110.345976",
            "start_at": 1496710635,
            "end_at": 1496710635,
            "reminder": 1800,
            "minimum_skill": 4,
            "gender": 2,
            "friends": [
                {
                    "id": 3,
                    "first_name": "Jon",
                    "last_name": "Snow",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                {
                    "id": 5,
                    "first_name": "Bran",
                    "last_name": "Stark",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                }
            ],
            "quota": 200,
            "disoverable": 2,
            "guess_can_invite": true,
            "additional_information": "Bring your own equipment, please attend on time"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Activity Data",
            "data": {}
        }

### Update Activity [PUT /users/activities/{id}]

+ Parameters
    + id: 2 (number, required)
    
+ Request
    + Headers
        
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

    + Body

            {
                "sport_id": 1,
                "name": "Basketball Paradise",
                "description": "An activity to provide young athlete to match",
                "latitude": "-7.771337",
                "longitude": "110.345976",
                "start_at": 1496710635,
                "end_at": 1496710635,
                "reminder": 1800,
                "minimum_skill": 4,
                "gender": 2,
                "friends": [
                    {
                        "id": 3,
                        "first_name": "Jon",
                        "last_name": "Snow",
                        "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                    },
                    {
                        "id": 5,
                        "first_name": "Bran",
                        "last_name": "Stark",
                        "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                    }
                ],
                "quota": 200,
                "disoverable": 2,
                "guess_can_invite": true,
                "additional_information": "Bring your own equipment, please attend on time"
            }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Activity Data",
            "data": {}
        }

### Detail Activity [GET /users/activities/{id}]

+ Parameters
    + id: 2 (number, required)
        
+ Request
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Activity Data",
            "data": {
                "name": "Basket Paradise",
                "start_at": 1496710635,
                "end_at": 1496710635,
                "latitude": "-7.771337",
                "longitude": "110.345976",
                "sports": {
                    "id": 2,
                    "name": "Basketball"
                },
                "gender": 2,
                "level": 2,
                "discoverable": 0,
                "additional_message": "Please bring your own equipment. We do not reponsible for any damage or lost of your personal belonging."
            }
        }

### Complete Activity [PUT /users/activies/{id}/completed]

+ Parameters
    + id: 2

+ Request
    + Headers
        
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

    + Body

            {
                "_activity_id": 2,
                "photos": "urls",
                "videos": "urls"
            }
    
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Activity Completed Data",
            "data": {}
        }

### Delete Activity [DELETE /users/activities/{id}]

+ Parameters
    + id: 2 (number, required)

+ Request
    + Headers
        
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Activity Data",
            "data": {}
        }

### Like Activity [POST /activities/{id}/like]

+ Parameters
    + id: 5 (number, required)

+ Request
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs


+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Like Activity Data",
            "data": {}
        }

### Share Activity [PUT /activities/{id}/share]

+ Parameters
    + id: 5 (number, required)

+ Request
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs


+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Share Activity Data",
            "data": {}
        }
    
### Comment Activity [POST /activities/{id}/comment]

+ Parameters
    + id: 5 (number, required)

+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
    
    + Body 

            {
                "comment": "This activity is awesome, I want to join this"
            }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Comment Activity Data",
            "data": {}
        }
        
## Group collection [/groups]

### Create Group [POST /groups]

+ Request (application/json)

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

    + Body
        
            {
                "name": "Galaxy Running",
                "description": "Galaxy Running description", 
                "sport": {
                    "user_id": 3,
                    "level": 1
                },
                "gender": 1,
                "privacy": 1,
                "friend_invite": 1,
                "additional_information": "Additional information for Galaxy Running",
                "member": [3],
                "photo_group": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAfeSURBVHhe7Vx7iFR1FD5FIlYk1R+FET3ISkuClAI1iKKIlIj+qP6soERQKUILy3yE0stWTdzHvNd1fawYWxHRA8tyk92dmZ3ZnZ3dzXyspiJm9LDIcm/f9/OMzIx3dpi9u+6d6X5wuHN/99xzz/nu+T3vvSMeygT+Dnmuul2e1N0RhS8mc/1xeVx3KwO+uDRv3i9WXYfcpEUjgtp2mfnxSbF8HfKWFlUGQl1ybaRH/ggkZZcWDTvW9snYcLccCHbJ3q39Mk6LKwcbWuXp5p/FqmmT+Vo0rEATsW77EWP/Xi2qPNTF5MOGH8RCJt6sRTmoPyqXBVvl+mBMJkZ6ZVIwLVNCPXK7Lyq3+NMy4dMBGauqOahrl/t2HBOruk3e0aLKRKRbrq7vkeMg8tv1XXI52sZ7Agl5CQ1/A6Qd+/01UTmFtuwM9i3sW9C1atrl39qo/IayfShrgfh9SZlTHZPJm5JyZaBT9qOZSO605BK9VOUCZCxs/BHERKUfvbO1Cb+ZlSDXCnaKxTISRwJJXoZIlvN4JI1z9p4V2PgHxw/zfBD/hF6iMoE28DZU3TAy7iRJIRncItuGLCSWdkCkFUzKcWTiB9Utcp1esnLAahrqlN+ZeQy6tu18MhwJ7DFDG/eJhap8zJ+QZ/TS5Y3VLTIOWbeZY0Bs2UPaEzBMQvsg0OKN8idlvWXJRepK+QEBXYogvtpyAMGhimUCZLVt6DvbhmHc5igb0SEZO/W9Z6txppxtJ6+LrGwCiRerS+UFVNVmQ15WwJhisQoPgNBIbUzeRNCt7BSGQmI4hW1UPoON5SCsmZmXTSJly0Gz9atL5QNk2pJ88hgce1qM6eaoGrN0DLLka0Nilm4x2YiMw43IIQbTtyqWZ+vxmmw+4M9cVXM/0BPehR7xDBv17GBQxoCOLN2ZO1bD8OMpVsNs3cGE1ZPtKezfqSYMquNyI+wPmE4qS5/XRSd2aqTn4cMGjPO+2MRxWV61RM/ISf4vGzDwVVUD6C0oiUDNZMw+HlATBrgR00DWAAnO1qcf7J3xu1FV3QtMwaazY2CQ2UFkhI0+SAxt7JMrqI9OZhqy6TAzyk6/kPAasNMWQtYZO1GZgIzcVagpYFYiC88EMHOhvmuBrKjnEMIuiIwwSBDMKVsU29Ns/POztZhQn1mITuRXSDvsnKDdgnY0C6G3Rl11H+DoeMgJtjk5ztuImZIxi5wMqnEessrY4dZWJ0v0Rh3kspe67C6gSj3CKmrnvBuEzQpJxPBpurrsLqBKrihWfUdbzFQyJi+ry+4C7uwO9r68024Vc4OjElKX3QU4mNqKkT/bJLdK0yHT7u5Wl90FOHY/BtGza+Iyy60CEmejKs9Ulz14+D+gOiYTw2l5AdVzFYYB88MpuUMP5QCNcwOOt6I33uNWge+tdXHxqcs5CHTJ5GCXzGOc4S6Zg7nzrXpo6ECX/0YoJX9yFM/5KreYRp1G+WpVOQd0Inu5fMQZgVtla78ZxsTV5XOA7+8irr9z4kzJXyB7uaqUDi6Lb8MF80f5XGVpOoxhQUwWq6oBjiXMAmmWrtuEJOb3wthfxHjyV48Y9zb02uDheVUtDSDoO0z6c4xmhEMCVNleVTVAeVkSiPJulufrUri+CB72qGppQFpHDVE2hjklQnr3qaoBysuTwJj0mtVtG32NJ6GqpQEEtg5KYEx6VNUA5WVJIOJID0pgVGKqWho8Aj0CzxOPQIfiEehQPAIdikegQ/EIdCgegQ7FI9CheAQ6FI9Ah+IR6FA8Ah2KR6BD8Qh0KB6BDsUj0KF4BDqUC0pgbUzaByUwWiHPRKJFnolEpUNVS4MvJt/nv/WebbhSCGQGFkoU8/1JTNpUtTTgQvPMc9G856Ug1tr+k3Fkpaoa4FhZEoj9ZSaevJfTUW6efwcS8qKqlg5k2XtI74HNWU/s+RYqSA3nvyqLi5Ylge2WjPEnxM+48t7AIKlVqjZ0hJMyNZSS12CsLpKSZYEusX09DA6WJYEZhDplBvxfyjiRNK9Dd5oeujCAg2VN4KgDDnoEOgEc9Ah0AnQ4yTIhsEVddhc4Yi80nnKLsKfFuO4bddldwJ2NsPt38gH1iAr84qevmGGtU5fdhWCnTDdjxLzPTd0ifGGSn6EF22SKuuw++KKykt+KcK5sF8RoCee6/AC8Li6vqKvuBac+cPgo/8uF/wnDkT2FHxgW+yqTc++Mvp3UoxMYzAaP8eadOwfX51u26Nz6Qd7QXtUdDfha5KpwWh6DPBtInhUE8HmhXho9uBF/pyzO6NsJppDvY2t07ezQPnSaMvq8Pm7KLBwbr66VL9A2rir0MSIn8pTGY3KNqtuiFu0sSClIIO2DuAWqXlngxJzVyi7wDIH8ozFVtwU/qWWWFSKQ9kHgq6peWfAIdAiPQIfwCHQIj0CH8Ah0CI9Ah/AIdAiPQIdA0GuLEejrlUmqbgvoPFqMQE4HVb2ygOCr+HjULnCSx+WmYhnoT8iDZlHUxkZmvQ86C1W9sgCSHjIZwg+4s1ZUuILCOSzftSn2D+T8y2Occ5yrNjmrMvjN1R4uW9Uk5G5Vrzyg6q1gBjETueVSE9fpQik55EvKVFUbFKiiD4OoEzyPRBp7yDyU8b+nK3MhIRu+uMyoT0tVoFM+QdY01adk0ZovB1+Fycf63XJDqFuW4Pwd6DQ+iqTl7QufeSL/AVlumC12Y+d5AAAAAElFTkSuQmCC",
                "photo_cover": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAfeSURBVHhe7Vx7iFR1FD5FIlYk1R+FET3ISkuClAI1iKKIlIj+qP6soERQKUILy3yE0stWTdzHvNd1fawYWxHRA8tyk92dmZ3ZnZ3dzXyspiJm9LDIcm/f9/OMzIx3dpi9u+6d6X5wuHN/99xzz/nu+T3vvSMeygT+Dnmuul2e1N0RhS8mc/1xeVx3KwO+uDRv3i9WXYfcpEUjgtp2mfnxSbF8HfKWFlUGQl1ybaRH/ggkZZcWDTvW9snYcLccCHbJ3q39Mk6LKwcbWuXp5p/FqmmT+Vo0rEATsW77EWP/Xi2qPNTF5MOGH8RCJt6sRTmoPyqXBVvl+mBMJkZ6ZVIwLVNCPXK7Lyq3+NMy4dMBGauqOahrl/t2HBOruk3e0aLKRKRbrq7vkeMg8tv1XXI52sZ7Agl5CQ1/A6Qd+/01UTmFtuwM9i3sW9C1atrl39qo/IayfShrgfh9SZlTHZPJm5JyZaBT9qOZSO605BK9VOUCZCxs/BHERKUfvbO1Cb+ZlSDXCnaKxTISRwJJXoZIlvN4JI1z9p4V2PgHxw/zfBD/hF6iMoE28DZU3TAy7iRJIRncItuGLCSWdkCkFUzKcWTiB9Utcp1esnLAahrqlN+ZeQy6tu18MhwJ7DFDG/eJhap8zJ+QZ/TS5Y3VLTIOWbeZY0Bs2UPaEzBMQvsg0OKN8idlvWXJRepK+QEBXYogvtpyAMGhimUCZLVt6DvbhmHc5igb0SEZO/W9Z6txppxtJ6+LrGwCiRerS+UFVNVmQ15WwJhisQoPgNBIbUzeRNCt7BSGQmI4hW1UPoON5SCsmZmXTSJly0Gz9atL5QNk2pJ88hgce1qM6eaoGrN0DLLka0Nilm4x2YiMw43IIQbTtyqWZ+vxmmw+4M9cVXM/0BPehR7xDBv17GBQxoCOLN2ZO1bD8OMpVsNs3cGE1ZPtKezfqSYMquNyI+wPmE4qS5/XRSd2aqTn4cMGjPO+2MRxWV61RM/ISf4vGzDwVVUD6C0oiUDNZMw+HlATBrgR00DWAAnO1qcf7J3xu1FV3QtMwaazY2CQ2UFkhI0+SAxt7JMrqI9OZhqy6TAzyk6/kPAasNMWQtYZO1GZgIzcVagpYFYiC88EMHOhvmuBrKjnEMIuiIwwSBDMKVsU29Ns/POztZhQn1mITuRXSDvsnKDdgnY0C6G3Rl11H+DoeMgJtjk5ztuImZIxi5wMqnEessrY4dZWJ0v0Rh3kspe67C6gSj3CKmrnvBuEzQpJxPBpurrsLqBKrihWfUdbzFQyJi+ry+4C7uwO9r68024Vc4OjElKX3QU4mNqKkT/bJLdK0yHT7u5Wl90FOHY/BtGza+Iyy60CEmejKs9Ulz14+D+gOiYTw2l5AdVzFYYB88MpuUMP5QCNcwOOt6I33uNWge+tdXHxqcs5CHTJ5GCXzGOc4S6Zg7nzrXpo6ECX/0YoJX9yFM/5KreYRp1G+WpVOQd0Inu5fMQZgVtla78ZxsTV5XOA7+8irr9z4kzJXyB7uaqUDi6Lb8MF80f5XGVpOoxhQUwWq6oBjiXMAmmWrtuEJOb3wthfxHjyV48Y9zb02uDheVUtDSDoO0z6c4xmhEMCVNleVTVAeVkSiPJulufrUri+CB72qGppQFpHDVE2hjklQnr3qaoBysuTwJj0mtVtG32NJ6GqpQEEtg5KYEx6VNUA5WVJIOJID0pgVGKqWho8Aj0CzxOPQIfiEehQPAIdikegQ/EIdCgegQ7FI9CheAQ6FI9Ah+IR6FA8Ah2KR6BD8Qh0KB6BDsUj0KF4BDqUC0pgbUzaByUwWiHPRKJFnolEpUNVS4MvJt/nv/WebbhSCGQGFkoU8/1JTNpUtTTgQvPMc9G856Ug1tr+k3Fkpaoa4FhZEoj9ZSaevJfTUW6efwcS8qKqlg5k2XtI74HNWU/s+RYqSA3nvyqLi5Ylge2WjPEnxM+48t7AIKlVqjZ0hJMyNZSS12CsLpKSZYEusX09DA6WJYEZhDplBvxfyjiRNK9Dd5oeujCAg2VN4KgDDnoEOgEc9Ah0AnQ4yTIhsEVddhc4Yi80nnKLsKfFuO4bddldwJ2NsPt38gH1iAr84qevmGGtU5fdhWCnTDdjxLzPTd0ifGGSn6EF22SKuuw++KKykt+KcK5sF8RoCee6/AC8Li6vqKvuBac+cPgo/8uF/wnDkT2FHxgW+yqTc++Mvp3UoxMYzAaP8eadOwfX51u26Nz6Qd7QXtUdDfha5KpwWh6DPBtInhUE8HmhXho9uBF/pyzO6NsJppDvY2t07ezQPnSaMvq8Pm7KLBwbr66VL9A2rir0MSIn8pTGY3KNqtuiFu0sSClIIO2DuAWqXlngxJzVyi7wDIH8ozFVtwU/qWWWFSKQ9kHgq6peWfAIdAiPQIfwCHQIj0CH8Ah0CI9Ah/AIdAiPQIdA0GuLEejrlUmqbgvoPFqMQE4HVb2ygOCr+HjULnCSx+WmYhnoT8iDZlHUxkZmvQ86C1W9sgCSHjIZwg+4s1ZUuILCOSzftSn2D+T8y2Occ5yrNjmrMvjN1R4uW9Uk5G5Vrzyg6q1gBjETueVSE9fpQik55EvKVFUbFKiiD4OoEzyPRBp7yDyU8b+nK3MhIRu+uMyoT0tVoFM+QdY01adk0ZovB1+Fycf63XJDqFuW4Pwd6DQ+iqTl7QufeSL/AVlumC12Y+d5AAAAAElFTkSuQmCC"
            }

+ Response 201 (application/json)

        {
            "code": 201,
            "status": true,
            "message": "Group Data",
            "data": {
                "group_id": 2,
                "name": "Galaxy Running",
                "description": "Galaxy Running description",
                "sport":
                {
                    "sport_id": 1,
                    "name": "Running",
                    "level": 1
                },
                "gender": 1,
                "privacy": 1,
                "friend_invite": 1,
                "photo_group": "https://cdn0-a.production.liputan6.static6.com/medias/1110230/big/020987500_1452682808-20160113-Peltia-Jaya-Tumbangkan-Bima-Sakti-HEL3.jpg",
                "photo_cover": "https://ngobrolbasket.files.wordpress.com/2015/04/smb-v-bsm.jpg?w=474&h=451",
                "additional_information": "Additional information for Galaxy Running",
                "member_count": 2,
                "created_at": 1496710635
            }
        }

### Detail Group [GET /groups/{id}]

+ Parameters
    + id : 2 (number)

+ Request

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Group Data",
            "data":
            {
                "group_id": 2,
                "name": "Galaxy Running",
                "description": "Galaxy Running description",
                "sport":{
                    "sport_id": 1,
                    "name": "Running",
                    "level": 1
                },
                "gender": 1,
                "privacy": 1,
                "friend_invite": 1,
                "additional_information": "Additional information for Galaxy Running",
                "member_count": 2,
                "created_at": 1496710635
            }
        }
        
### Update Group [PUT /groups/{id}]

+ Parameters
    + id : 1 (number)
    
+ Request (application/json)
    
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

    + Body
        
            {
                "name": "Galaxy Running",
                "description": "Galaxy Running description",
                "sport": {
                    "user_id": 3,
                    "level": 1
                },
                "gender": 1,
                "privacy": 1,
                "friend_invite": 1,
                "additional_information": "Additional information for Galaxy Running",
                "photo_group": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAfeSURBVHhe7Vx7iFR1FD5FIlYk1R+FET3ISkuClAI1iKKIlIj+qP6soERQKUILy3yE0stWTdzHvNd1fawYWxHRA8tyk92dmZ3ZnZ3dzXyspiJm9LDIcm/f9/OMzIx3dpi9u+6d6X5wuHN/99xzz/nu+T3vvSMeygT+Dnmuul2e1N0RhS8mc/1xeVx3KwO+uDRv3i9WXYfcpEUjgtp2mfnxSbF8HfKWFlUGQl1ybaRH/ggkZZcWDTvW9snYcLccCHbJ3q39Mk6LKwcbWuXp5p/FqmmT+Vo0rEATsW77EWP/Xi2qPNTF5MOGH8RCJt6sRTmoPyqXBVvl+mBMJkZ6ZVIwLVNCPXK7Lyq3+NMy4dMBGauqOahrl/t2HBOruk3e0aLKRKRbrq7vkeMg8tv1XXI52sZ7Agl5CQ1/A6Qd+/01UTmFtuwM9i3sW9C1atrl39qo/IayfShrgfh9SZlTHZPJm5JyZaBT9qOZSO605BK9VOUCZCxs/BHERKUfvbO1Cb+ZlSDXCnaKxTISRwJJXoZIlvN4JI1z9p4V2PgHxw/zfBD/hF6iMoE28DZU3TAy7iRJIRncItuGLCSWdkCkFUzKcWTiB9Utcp1esnLAahrqlN+ZeQy6tu18MhwJ7DFDG/eJhap8zJ+QZ/TS5Y3VLTIOWbeZY0Bs2UPaEzBMQvsg0OKN8idlvWXJRepK+QEBXYogvtpyAMGhimUCZLVt6DvbhmHc5igb0SEZO/W9Z6txppxtJ6+LrGwCiRerS+UFVNVmQ15WwJhisQoPgNBIbUzeRNCt7BSGQmI4hW1UPoON5SCsmZmXTSJly0Gz9atL5QNk2pJ88hgce1qM6eaoGrN0DLLka0Nilm4x2YiMw43IIQbTtyqWZ+vxmmw+4M9cVXM/0BPehR7xDBv17GBQxoCOLN2ZO1bD8OMpVsNs3cGE1ZPtKezfqSYMquNyI+wPmE4qS5/XRSd2aqTn4cMGjPO+2MRxWV61RM/ISf4vGzDwVVUD6C0oiUDNZMw+HlATBrgR00DWAAnO1qcf7J3xu1FV3QtMwaazY2CQ2UFkhI0+SAxt7JMrqI9OZhqy6TAzyk6/kPAasNMWQtYZO1GZgIzcVagpYFYiC88EMHOhvmuBrKjnEMIuiIwwSBDMKVsU29Ns/POztZhQn1mITuRXSDvsnKDdgnY0C6G3Rl11H+DoeMgJtjk5ztuImZIxi5wMqnEessrY4dZWJ0v0Rh3kspe67C6gSj3CKmrnvBuEzQpJxPBpurrsLqBKrihWfUdbzFQyJi+ry+4C7uwO9r68024Vc4OjElKX3QU4mNqKkT/bJLdK0yHT7u5Wl90FOHY/BtGza+Iyy60CEmejKs9Ulz14+D+gOiYTw2l5AdVzFYYB88MpuUMP5QCNcwOOt6I33uNWge+tdXHxqcs5CHTJ5GCXzGOc4S6Zg7nzrXpo6ECX/0YoJX9yFM/5KreYRp1G+WpVOQd0Inu5fMQZgVtla78ZxsTV5XOA7+8irr9z4kzJXyB7uaqUDi6Lb8MF80f5XGVpOoxhQUwWq6oBjiXMAmmWrtuEJOb3wthfxHjyV48Y9zb02uDheVUtDSDoO0z6c4xmhEMCVNleVTVAeVkSiPJulufrUri+CB72qGppQFpHDVE2hjklQnr3qaoBysuTwJj0mtVtG32NJ6GqpQEEtg5KYEx6VNUA5WVJIOJID0pgVGKqWho8Aj0CzxOPQIfiEehQPAIdikegQ/EIdCgegQ7FI9CheAQ6FI9Ah+IR6FA8Ah2KR6BD8Qh0KB6BDsUj0KF4BDqUC0pgbUzaByUwWiHPRKJFnolEpUNVS4MvJt/nv/WebbhSCGQGFkoU8/1JTNpUtTTgQvPMc9G856Ug1tr+k3Fkpaoa4FhZEoj9ZSaevJfTUW6efwcS8qKqlg5k2XtI74HNWU/s+RYqSA3nvyqLi5Ylge2WjPEnxM+48t7AIKlVqjZ0hJMyNZSS12CsLpKSZYEusX09DA6WJYEZhDplBvxfyjiRNK9Dd5oeujCAg2VN4KgDDnoEOgEc9Ah0AnQ4yTIhsEVddhc4Yi80nnKLsKfFuO4bddldwJ2NsPt38gH1iAr84qevmGGtU5fdhWCnTDdjxLzPTd0ifGGSn6EF22SKuuw++KKykt+KcK5sF8RoCee6/AC8Li6vqKvuBac+cPgo/8uF/wnDkT2FHxgW+yqTc++Mvp3UoxMYzAaP8eadOwfX51u26Nz6Qd7QXtUdDfha5KpwWh6DPBtInhUE8HmhXho9uBF/pyzO6NsJppDvY2t07ezQPnSaMvq8Pm7KLBwbr66VL9A2rir0MSIn8pTGY3KNqtuiFu0sSClIIO2DuAWqXlngxJzVyi7wDIH8ozFVtwU/qWWWFSKQ9kHgq6peWfAIdAiPQIfwCHQIj0CH8Ah0CI9Ah/AIdAiPQIdA0GuLEejrlUmqbgvoPFqMQE4HVb2ygOCr+HjULnCSx+WmYhnoT8iDZlHUxkZmvQ86C1W9sgCSHjIZwg+4s1ZUuILCOSzftSn2D+T8y2Occ5yrNjmrMvjN1R4uW9Uk5G5Vrzyg6q1gBjETueVSE9fpQik55EvKVFUbFKiiD4OoEzyPRBp7yDyU8b+nK3MhIRu+uMyoT0tVoFM+QdY01adk0ZovB1+Fycf63XJDqFuW4Pwd6DQ+iqTl7QufeSL/AVlumC12Y+d5AAAAAElFTkSuQmCC",
                "photo_cover": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAfeSURBVHhe7Vx7iFR1FD5FIlYk1R+FET3ISkuClAI1iKKIlIj+qP6soERQKUILy3yE0stWTdzHvNd1fawYWxHRA8tyk92dmZ3ZnZ3dzXyspiJm9LDIcm/f9/OMzIx3dpi9u+6d6X5wuHN/99xzz/nu+T3vvSMeygT+Dnmuul2e1N0RhS8mc/1xeVx3KwO+uDRv3i9WXYfcpEUjgtp2mfnxSbF8HfKWFlUGQl1ybaRH/ggkZZcWDTvW9snYcLccCHbJ3q39Mk6LKwcbWuXp5p/FqmmT+Vo0rEATsW77EWP/Xi2qPNTF5MOGH8RCJt6sRTmoPyqXBVvl+mBMJkZ6ZVIwLVNCPXK7Lyq3+NMy4dMBGauqOahrl/t2HBOruk3e0aLKRKRbrq7vkeMg8tv1XXI52sZ7Agl5CQ1/A6Qd+/01UTmFtuwM9i3sW9C1atrl39qo/IayfShrgfh9SZlTHZPJm5JyZaBT9qOZSO605BK9VOUCZCxs/BHERKUfvbO1Cb+ZlSDXCnaKxTISRwJJXoZIlvN4JI1z9p4V2PgHxw/zfBD/hF6iMoE28DZU3TAy7iRJIRncItuGLCSWdkCkFUzKcWTiB9Utcp1esnLAahrqlN+ZeQy6tu18MhwJ7DFDG/eJhap8zJ+QZ/TS5Y3VLTIOWbeZY0Bs2UPaEzBMQvsg0OKN8idlvWXJRepK+QEBXYogvtpyAMGhimUCZLVt6DvbhmHc5igb0SEZO/W9Z6txppxtJ6+LrGwCiRerS+UFVNVmQ15WwJhisQoPgNBIbUzeRNCt7BSGQmI4hW1UPoON5SCsmZmXTSJly0Gz9atL5QNk2pJ88hgce1qM6eaoGrN0DLLka0Nilm4x2YiMw43IIQbTtyqWZ+vxmmw+4M9cVXM/0BPehR7xDBv17GBQxoCOLN2ZO1bD8OMpVsNs3cGE1ZPtKezfqSYMquNyI+wPmE4qS5/XRSd2aqTn4cMGjPO+2MRxWV61RM/ISf4vGzDwVVUD6C0oiUDNZMw+HlATBrgR00DWAAnO1qcf7J3xu1FV3QtMwaazY2CQ2UFkhI0+SAxt7JMrqI9OZhqy6TAzyk6/kPAasNMWQtYZO1GZgIzcVagpYFYiC88EMHOhvmuBrKjnEMIuiIwwSBDMKVsU29Ns/POztZhQn1mITuRXSDvsnKDdgnY0C6G3Rl11H+DoeMgJtjk5ztuImZIxi5wMqnEessrY4dZWJ0v0Rh3kspe67C6gSj3CKmrnvBuEzQpJxPBpurrsLqBKrihWfUdbzFQyJi+ry+4C7uwO9r68024Vc4OjElKX3QU4mNqKkT/bJLdK0yHT7u5Wl90FOHY/BtGza+Iyy60CEmejKs9Ulz14+D+gOiYTw2l5AdVzFYYB88MpuUMP5QCNcwOOt6I33uNWge+tdXHxqcs5CHTJ5GCXzGOc4S6Zg7nzrXpo6ECX/0YoJX9yFM/5KreYRp1G+WpVOQd0Inu5fMQZgVtla78ZxsTV5XOA7+8irr9z4kzJXyB7uaqUDi6Lb8MF80f5XGVpOoxhQUwWq6oBjiXMAmmWrtuEJOb3wthfxHjyV48Y9zb02uDheVUtDSDoO0z6c4xmhEMCVNleVTVAeVkSiPJulufrUri+CB72qGppQFpHDVE2hjklQnr3qaoBysuTwJj0mtVtG32NJ6GqpQEEtg5KYEx6VNUA5WVJIOJID0pgVGKqWho8Aj0CzxOPQIfiEehQPAIdikegQ/EIdCgegQ7FI9CheAQ6FI9Ah+IR6FA8Ah2KR6BD8Qh0KB6BDsUj0KF4BDqUC0pgbUzaByUwWiHPRKJFnolEpUNVS4MvJt/nv/WebbhSCGQGFkoU8/1JTNpUtTTgQvPMc9G856Ug1tr+k3Fkpaoa4FhZEoj9ZSaevJfTUW6efwcS8qKqlg5k2XtI74HNWU/s+RYqSA3nvyqLi5Ylge2WjPEnxM+48t7AIKlVqjZ0hJMyNZSS12CsLpKSZYEusX09DA6WJYEZhDplBvxfyjiRNK9Dd5oeujCAg2VN4KgDDnoEOgEc9Ah0AnQ4yTIhsEVddhc4Yi80nnKLsKfFuO4bddldwJ2NsPt38gH1iAr84qevmGGtU5fdhWCnTDdjxLzPTd0ifGGSn6EF22SKuuw++KKykt+KcK5sF8RoCee6/AC8Li6vqKvuBac+cPgo/8uF/wnDkT2FHxgW+yqTc++Mvp3UoxMYzAaP8eadOwfX51u26Nz6Qd7QXtUdDfha5KpwWh6DPBtInhUE8HmhXho9uBF/pyzO6NsJppDvY2t07ezQPnSaMvq8Pm7KLBwbr66VL9A2rir0MSIn8pTGY3KNqtuiFu0sSClIIO2DuAWqXlngxJzVyi7wDIH8ozFVtwU/qWWWFSKQ9kHgq6peWfAIdAiPQIfwCHQIj0CH8Ah0CI9Ah/AIdAiPQIdA0GuLEejrlUmqbgvoPFqMQE4HVb2ygOCr+HjULnCSx+WmYhnoT8iDZlHUxkZmvQ86C1W9sgCSHjIZwg+4s1ZUuILCOSzftSn2D+T8y2Occ5yrNjmrMvjN1R4uW9Uk5G5Vrzyg6q1gBjETueVSE9fpQik55EvKVFUbFKiiD4OoEzyPRBp7yDyU8b+nK3MhIRu+uMyoT0tVoFM+QdY01adk0ZovB1+Fycf63XJDqFuW4Pwd6DQ+iqTl7QufeSL/AVlumC12Y+d5AAAAAElFTkSuQmCC"
            }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Group Data",
            "data": {
                "group_id": 2,
                "name": "Galaxy Running",
                "description": "Galaxy Running description",
                "sport": {
                    "sport_id": 1,
                    "name": "Running",
                    "level": 1
                },
                "gender": 1,
                "privacy": 1,
                "friend_invite": 1,
                "photo_group": "https://cdn0-a.production.liputan6.static6.com/medias/1110230/big/020987500_1452682808-20160113-Peltia-Jaya-Tumbangkan-Bima-Sakti-HEL3.jpg",
                "photo_cover": "https://ngobrolbasket.files.wordpress.com/2015/04/smb-v-bsm.jpg?w=474&h=451",
                "additional_information": "Additional information for Galaxy Running",
                "member_count": 2,
                "created_at": 1496710635
            }
        }

### Delete Group [DELETE  /groups/{id}] 

+ Parameters
    + id : 2 (number)

+ Request

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Group Data",
            "data": {}
        }
        
### Member Group [GET /groups/{id}/member]  

+ Parameters
    + id : 2 (number)
        
+ Request

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Group Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 2
            },
            "data":[
                {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status_member": 1
                },
                {
                    "user_id": 3,
                    "first_name": "Yusuf",
                    "last_name": "Aji Wibowo",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status_member": 0
                }]
        }
        
### Suggest Member [POST /groups/{id}/member]

+ Parameters
    + id : 2 (number)
        
+ Request

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
  
+ Request (application/json)

        {
            "user_id": 2
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Group Data",
            "data":
                {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status_member": 0
                }
        }
        
### Delete Member [DELETE /groups/{id}/member/{user_id}]

+ Parameters
    + id : 2 (number)
    + user_id: 3 (number)
    
+ Request

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Group Data",
            "data":{}
        }
        
### List Discover Group [GET /groups{?page}{?limit}{?filter}{?q}]

 
+ Parameters
    + page : 1 (number)
    + limit: 10 (number)
    + filter: most_popular (String)
    + q: basket (String)
    
+ Request

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs


+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Group Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 2
            },
            "data":[
            {
                "group_id": 2,
                "name": "Galaxy Running",
                "description": "Galaxy Running description",
                "sport":{
                    "sport_id": 1,
                    "name": "Running",
                    "level": 1
                },
                "gender": 1,
                "privacy": 1,
                "friend_invite": 1,
                "additional_information": "Additional information for Galaxy Running",
                "member_count": 2,
                "created_at": 1496710635,
                "member": [
                {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status_member": 1
                },
                {
                    "user_id": 3,
                    "first_name": "Yusuf",
                    "last_name": "Aji Wibowo",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status_member": 0
                }]
            }, {
                "group_id": 3,
                "name": "Galaxy Running",
                "description": "Galaxy Running description",
                "sport":{
                    "sport_id": 1,
                    "name": "Running",
                    "level": 2
                },
                "gender": 1,
                "privacy": 1,
                "friend_invite": 1,
                "additional_information": "Additional information for Galaxy Running",
                "member_count": 2,
                "created_at": 1496710635,
                "member": [
                {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status_member": 1
                },
                {
                    "user_id": 3,
                    "first_name": "Yusuf",
                    "last_name": "Aji Wibowo",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status_member": 0
                }]
            }]
        }
        
### List My Group [GET /groups/me{?page}{?limit}{?filter}{?q}]

+ Parameters
    + page : 1 (number)
    + limit: 10 (number)
    + filter: most_popular (String)
    + q: basket (String)
        
+ Request

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs


+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Group Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 2
            },
            "data":[
            {
                "group_id": 2,
                "name": "Galaxy Running",
                "description": "Galaxy Running description",
                "sport":{
                    "sport_id": 1,
                    "name": "Running",
                    "level": 1
                },
                "gender": 1,
                "privacy": 1,
                "friend_invite": 1,
                "additional_information": "Additional information for Galaxy Running",
                "member_count": 2,
                "created_at": 1496710635,
                "member": [
                {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status_member": 1
                },
                {
                    "user_id": 3,
                    "first_name": "Yusuf",
                    "last_name": "Aji Wibowo",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status_member": 0
                }]
            }, {
                "group_id": 3,
                "name": "Galaxy Running",
                "description": "Galaxy Running description",
                "sport":{
                    "sport_id": 1,
                    "name": "Running",
                    "level": 2
                },
                "gender": 1,
                "privacy": 1,
                "friend_invite": 1,
                "additional_information": "Additional information for Galaxy Running",
                "member_count": 2,
                "created_at": 1496710635,
                "member": [
                {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status_member": 1
                },
                {
                    "user_id": 3,
                    "first_name": "Yusuf",
                    "last_name": "Aji Wibowo",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                    "status_member": 0
                }]
            }]
        }
        
### Make Admin Group [PUT /groups/{id}/admin]

+ Parameters
    + id : 1 (number)
        
+ Request

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
            
    + Body
    
            {
                "user_id": 2
            }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Group Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 2
            },
            "data":
            {
                "user_id": 2,
                "first_name": "Tony",
                "last_name": "Judt Smith",
                "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg",
                "status_member": 1
                }
        }
        
## Message collection [/conversations]

### List Conversation [GET /conversations{?page}{?limit}]
+ Parameters
    + page : 1 (number)
    + limit: 10 (number)
    
+ Request

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
            
    
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Message Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 2
            },
            "data":[
            {
                "conversation_id": 1,
                "user_1": {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "user_2": {
                    "user_id": 3,
                    "first_name": "Yusuf",
                    "last_name": "Aji Wibowo",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "updated_at": 1496710635,
                "unread_count": 5
            }, {
                "conversation_id": 2,
                "user_1": {
                    "user_id": 4,
                    "first_name": "Indra",
                    "last_name": "Bayu Kusuma",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "user_2": {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "updated_at": 1496710635,
                "unread_count": 2
            }]
        }
        
### Send Message [POST /messages]
    
+ Request
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
           
    + Body

            {
                "content": "Hello World!",
                "user_id": 4
            }
    
+ Response 201 (application/json)

        {
            "code": 201,
            "status": true,
            "message": "Message Data",
            "data":
            {
                "message_id": 2,
                "content": "Tony",
                "sender": {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "recevier": {
                    "user_id": 4,
                    "first_name": "Indra",
                    "last_name": "Bayu Kusuma",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "conversation_id": 1,
                "created_at": 1496710635,
                "read": 0
            }
        }
### Detail Conversation [GET /conversations/{id}{?page}{?limit}]

+ Parameters
    + id : 1 (number)
    + page : 1 (number)
    + limit: 10 (number)

+ Request

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
  
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Message Data",
            "meta": {
                "page": 1,
                "limit": 10,
                "total": 2
            },
            "data":[
            {
                "message_id": 1,
                "content": "Good Morning!",
                "sender": {
                    "user_id": 4,
                    "first_name": "Indra",
                    "last_name": "Bayu Kusuma",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "recevier": {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "conversation_id": 1,
                "created_at": 1496710635,
                "read": 1
            },
            {
                "message_id": 2,
                "content": "Hello World!",
                "sender": {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "recevier": {
                    "user_id": 4,
                    "first_name": "Indra",
                    "last_name": "Bayu Kusuma",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "conversation_id": 1,
                "created_at": 1496710635,
                "read": 0
            }]
        }
### Read Message [PUT /messages/{id}/read]

+ Parameters
    + id : 1 (number)
        
+ Request

    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
          
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Message Data",
            "data":
            {
                "message_id": 2,
                "content": "Hello World!",
                "sender": {
                    "user_id": 2,
                    "first_name": "Tony",
                    "last_name": "Judt Smith",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "recevier": {
                    "user_id": 4,
                    "first_name": "Indra",
                    "last_name": "Bayu Kusuma",
                    "photo_profile": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                },
                "conversation_id": 1,
                "created_at": 1496710635,
                "read": 1
            }
        }
    
## Story Collection [/stories]

### Create Story [POST /stories]

+ Request
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
    
    + Body
        
            {
                "description": "I have unforgetable moment running this afternoon",
                "privacy": 0,
                "attachments": "url",
                "latitude": "-7.771337",
                "longitude": "110.345976"
            }

+ Response 200 (application/json)

            {
                "code": 200,
                "status": true,
                "message": "Story Data",
                "data": {}
            }

### Update Story [PUT /stories/{id}]

+ Parameters
    + id: 2 (number, required)

+ Request
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
    
    + Body
        
            {
                "description": "I have unforgetable moment running this afternoon",
                "privacy": 0,
                "attachments": "url",
                "latitude": "-7.771337",
                "longitude": "110.345976"
            }

+ Response 200 (application/json)

            {
                "code": 200,
                "status": true,
                "message": "Story Data",
                "data": {}
            }

### Delete Story [DELETE /stories/{id}]

+ Parameters
    + id: 2 (number, required)

+ Request
    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

            {
                "code": 200,
                "status": true,
                "message": "Story Data",
                "data": {}
            }
            
### Like Story [POST /stories/{id}/like]

+ Parameters
    + id: 2 (number, required)
    
+ Request
    + Headers
        
                Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
                
+ Response 200 (application/json)

            {
                "code": 200,
                "status": true,
                "message": "Story Data",
                "data": {}
            }
            
### Comment Story [POST /stories/{id}/comment]

+ Parameters
    + id: 2 (number, required)
    
+ Request
    + Headers
        
                Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
                
+ Response 200 (application/json)

            {
                "code": 200,
                "status": true,
                "message": "Story Data",
                "data": {}
            }
            
### Share Story [POST /stories/{id}/share]

+ Parameters
    + id: 2 (number, required)
    
+ Request
    + Headers
        
                Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
                
+ Response 200 (application/json)

            {
                "code": 200,
                "status": true,
                "message": "Story Data",
                "data": {}
            }

### Get Story Detail [GET /stories/{id}]

+ Parameters
    + id: 2

+ Request
    + Headers
    
                Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Story Data",
            "data": {
               "id": 2,
               "message": "Beautiful circumstance this afternoon after I was running",
               "comment_id": 6,
               "like_id": 8,
               "latitude": "-7.771337",
               "longitude": "110.345976",
            }
        }
            
## Notification Collection [/notifications]

### List Notification [GET /notifications{?page}{?limit}]

+ Parameters
    + page: 1 (number)
    + limit: 10 (number)

+ Request
    + Headers
        
                Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs

+ Response 200 (application/json)

            {
                "code": 200,
                "status": true,
                "message": "Notification Data",
                "data": [
                    {
                        "id": 1,
                        "type": 0,
                        "message": "started following",
                        "user": {
                            "id": 3,
                            "username": "james"
                        },
                        "activity": null,
                        "group": null
                    },
                    {
                        "id": 2,
                        "type": 1,
                        "message": "likes your",
                        "user": {
                            "id": 5,
                            "username": "Pram"
                        },
                        "activity": null,
                        "group": null
                    }
                ]
            }
        
## Feed Collection [/feeds]

### List Feeds [GET /feeds{?sort}{?page}{?limit}]

+ Parameters
    + sort: "newest" (string)
    + page: 1 (number)
    + limit: 10 (number)

+ Request
    + Headers
    
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VycyI6NTAsImlhdCI6MTUwMTEyMzA2Nn0.oACCBFw0_vCrT0gs4r78hrYTYGVFFJpkyiRsSchlNHs
                        
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User Interest Data",
            "meta": {
                "page": 1,
                "limit": 10
            },
            "data": [
                {
                    "id": 4,
                    "type": 1,
                    "id_of_type": 5,
                    "name": "Skyshi League",
                    "description": "Skyshi tournament",
                    "attachments": [
                        {
                            "id": 88,
                            "url": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                        }
                    ],
                    "start_at": 1496710635,
                    "end_at": 1496710635,
                    "latitude": "-7.771337",
                    "longitude": "110.345976",
                    "like_id": 2,
                    "comment_id": 5
                },
                {
                    "id": 3,
                    "type": 0,
                    "id_of_type": 5,
                    "name": "Skyshi Badminton",
                    "description": "",
                    "attachments": [
                        {
                            "id": 88,
                            "url": "http://resepdanmasakan.com/wp-content/uploads/2015/09/Resep-Klepon-Isi-Gula-Merah-Kenyal-Meleleh.jpg"
                        }
                    ],
                    "start_at": null,
                    "end_at": null,
                    "latitude": "",
                    "longitude": "",
                    "like_id": 1,
                    "comment_id": 3
                }
            ]
        }